---
import SearchableDropdown from "./SearchableDropdown";

const boy_str = `
Hưng Phấn
Nguyễn Hải Đăng
Nguyễn Hồ Đắc Di
Nguyễn Đức Giang Đẫm
Nguyễn Vũ Thắng
Đinh Việt Cường
Nguyễn Quang Anh
Vũ Xuân Uy
Trịnh Xuân Hòa
Nguyễn Hải Hà
Trần Dương Chính
Bùi Quang Huy
Chần Quốc Lập
Nguyễn Như Quang
Lê Quốc Việt
Phạm Quốc Tuấn
Dong Minh Hoang
Hoàng Gia Nam Anh
Nguyễn Đỗ Trọng Đại
Lưu Quốc Dũng
Phan Chí Thành
Bùi Trường Tộ
Nguyễn Tiến Đạt
Đào Gia Huy
Nguyễn Đức vinh
Vũ Quang Đăng
Nguyen Viet Anh
Vu The Tue
Tran Viet Bach
Nguyen Quang Hung
`;
const girl_str = `
Phan Ngọc Ánhg
Trần Thanh Tâm
Nguyễn Thị Minh Diệu
Đinh Thị Diệu Châu
Nguyễn Phương Linh
Trịnh Minh Huyền
Bùi Thị Thanh Yến
Nguyễn Bảo Linh
Nguyễn Thùy Trang
Dương Thị Thanh Trà
Phan Thi Linh Nga
La Thi Binh An
`;

function shuffle(array, seed) {
  // <-- ADDED ARGUMENT
  var m = array.length,
    t,
    i;

  // While there remain elements to shuffle…
  while (m) {
    // Pick a remaining element…
    i = Math.floor(random(seed) * m--); // <-- MODIFIED LINE

    // And swap it with the current element.
    t = array[m];
    array[m] = array[i];
    array[i] = t;
    ++seed; // <-- ADDED LINE
  }

  return array;
}

function random(seed) {
  var x = Math.sin(seed++) * 10000;
  return x - Math.floor(x);
}
const boy = shuffle(
  boy_str.split("\n").filter((item) => item !== ""),
  42
);
const girl = shuffle(
  girl_str.split("\n").filter((item) => item !== ""),
  24
);

const people: string[] = [];

for (let i = 0; i < Math.max(boy.length, girl.length); i++) {
  if (i < boy.length) people.push(boy[i]);
  if (i < girl.length) people.push(girl[i]);
}
const options = people.map((item, index) => ({
  id: index,
  name: item,
}));
---

<SearchableDropdown
  client:load={true}
  options={options}
  label={"name"}
  id={"id"}
/>
<!-- <div class="w-full">
  <input
    type="text"
    class="w-full border border-gray-300 rounded-md p-2"
    placeholder="You are..."
  />
  <div class="h-20 flex flex-col overflow-auto">
    {
      boy.map((item) => (
        <div class="inline-block mr-2">
          <button class="bg-blue-500 text-white rounded-md p-2">{item}</button>
        </div>
      ))
    }
  </div>
  <div class="h-2"></div>
</div> -->
